<h2>Reset Password</h2>



<form action="/reset-password" method="POST">

<p>Please enter your email below and we will send you a new temporary password</p>

<label>Email:</label>
<input type="email" name="theEmail">


<button>Submit</button>


</form>