<h1>{{appTitle}} 🚀</h1>
<p>Welcome Ironhacker!</p>


<h2>Look at current times from around the world</h2>
<a href="/lookuptime/Europe/London">London</a>
<a href="/lookuptime/America/New_York">New York</a>
<a href="/lookuptime/Australia/Melbourne">Melbourne</a>
<a href="/lookuptime/Asia/Tokyo">Tokyo</a>