<h1>Cat Details Page</h1>

<h1>{{name}}</h1>
{{#if outdoor}}
<p>OutDoor Cat</p>
{{/if}}


<img src="{{image}}" style="width: 300px">

<p>Weight: {{weight}}lbs </p>

<p>Favorite Food: {{favoriteFood}}</p>
