<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <div style="min-height: 81.5vh">


<a href="/">Home Page</a>
<a href="/blahh">Blah Page</a>
<a href="/cats">Cats Page</a>

    {{{body}}}
    {{!-- this body thingy is whichever view youre looking at --}}


    </div>
<div>
    <hr>
        <h1>this is the footer</h1>
    <hr>
</div>
</body>
</html>