<h1>Add an Author to the DB</h1>


<form action="/authors/create" method="post">

<label>Name</label>
<input type="text" name="name">

<label>Birthdate</label>
<input type="text" name="birthdate">

<label>Hometown</label>
<input type="text" name="hometown">

<label>Image</label>
<input type="text" name="image">


    <button type="submit">
        Save
    </button>
</form>