<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <a href="/cars">Cars</a>
    <a href="/new-car">New Car</a>

    {{{body}}}
    
</body>
</html>