
<h2>Add a Car to the DB</h2>


<form action="/create-car" method="POST">
<div>
<label>Company</label>
<input type="text" name="company">
</div>

<div>
<label>Model</label>
<input type="text" name="model">
</div>

<div>
<label>Body Type</label>
<input type="text" name="theBodyType">
</div>

<div>
<label>Picture URL</label>
<input type="text" name="imgUrl">
</div>


<button type="submit">Save</button>

</form>